@font-face {
    font-family: Norse-bold;
    src: url(./assets/font/Norse-Bold.otf);
}

:root {
    --lf-content-width: 30%;
    --left-position: 25%;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: Helvetica;
}

h2 {
    font-size: 1.5rem;
    color: #1F2937;
}

#header h2 {
    padding: 0 10rem 0 3rem;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

#lf-content {
    width: var(--lf-content-width);
}

#lf-content > img {
    /* width: 100%; */
    height: 100%;
}

#box {
    position: fixed;
    top: 210px;
    width: var(--lf-content-width);
    height: 20%;
    background: rgba(0, 0, 0, 0.5);
}

#box img {
    width: 120px;
    height: min(85%, 100%);
    top: 15px;
    left: var(--left-position);
    opacity: 100%;
    position: relative;
}

#box p {
    display: inline;
    position: relative;
    color: white;
    top: -15px;
    left: var(--left-position);
    font-size: calc(15rem * var(--lf-content-width));
    font-family: Norse-bold;
}

#rg-content {
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: #F9FAFB;
}

#header {
    margin-bottom: 100px;
}

#header h2:nth-child(3) {
    margin-top: 2rem;
}

.italic {
    font-style: italic;
    font-size: 1.5rem;
    color: #1F2937;
}

#content {
    /* edit to be responsive */
    margin-bottom: 50px;
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
    padding: 1rem 0 1rem 3rem;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px 1px #bbb9b9;
}

#content form {
    display: flex;
    gap: min(4vw, 100%);
}

#left-form, #right-form {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 1rem;
}

#left-form input, #right-form input {
    margin-bottom: 1.5rem;
    border: 1px solid #E5E7EB;
    height: 28px;
    width: 15rem;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 1px solid blue !important;
    box-shadow: 1px 1px 5px 1px #bbb9b9;
}

form label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 2px;
    color: #4e4e4e;
    letter-spacing: 1px;
}

#left-form input[class="error"], #right-form input[class="error"] {
    border-color: rgb(196, 4, 4);
    margin-bottom: 0px;
}

#left-form p {
    font-size: 13px;
    color: rgb(196, 4, 4);
}

#footer {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    margin-left: 3rem;
}

#footer button {
    width: 14rem;
    height: 3rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;;
    color: white;
    background: #596D48;
    border: 0px;
    font-weight: bold;
}

#footer button:hover {
    cursor: pointer;
}

#footer a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}
