@font-face {
    font-family: Norse-bold;
    src: url(./assets/font/Norse-Bold.otf);
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
}

#lf-content > img {
    width: 500px;
    height: 100vh;
}

#box {
    --left-position: 120px;
    position: fixed;
    top: 210px;
    width: 500px;
    height: 150px;
    background: rgba(0, 0, 0, 0.5);
}

#box img {
    width: 95px;
    top: 15px;
    left: var(--left-position);
    opacity: 100%;
    position: relative;
}

#box p {
    display: inline;
    position: relative;
    color: white;
    top: -15px;
    left: var(--left-position);
    font-size: 90px;
    font-family: Norse-bold;
}

#rg-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#header {
    margin-bottom: 100px;
}

#body {
    margin-bottom: 50px;
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
}

#body form {
    display: flex;
}

#left-form {
    display: flex;
    flex-flow: column nowrap;
}

#right-form {
    display: flex;
    flex-flow: column nowrap;
}

#footer {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

#footer button {
    width: 10rem;
}